
<div class="main">
<div class="container">
    <div class="form_container">
    <%= form_for @material,:url=>{:controller=>:material,:action=>:create}  do |f| %>
    <p>材料名</p>
    <%= f.text_field :name %>
    <p>値段</p>
    <%= f.text_field :price %>
    <p>サイズ</p>
    <%=f.text_field :size %>
    <p>サプライヤー</p>
    <%= f.collection_select :supplier_id, Supplier.all, :id, :name,prompt: "選択してください",class: "aa" %>
    <%= f.submit  %>
    <% end %>
    </div>
</div>
</div>

